name: maven-build
on:
  push:
    branches: [ "main" ]
  pull-request:
    branches: [ "main" ]

jobs:
  checkstyle:
    runs-on: ubuntu 20.4
    steps:
      - uses: actions/checkout@2
      - uses: actions/setup-java@v3
        with:
          destribution: 'temurin'
          java-version: 17
      -uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: maven-${{ hashFiles('**/pom.xml')}}
          restore-keys: |
            maven-
            - run: mvn clean i    nstall

